<!-- // ------------------ DYNAMIC ORDER ITEM ---------------- //  -->

<div *ngIf="userCart" class="order row mb-3 mr-2">
  <div class="order-img col-3 p-0">
    <img
      style="max-width: 100%"
      [src]="product.img[0].url"
      alt=""
      alt=""
    />
  </div>
  <div class="order-info col-9 p-0 pl-3 d-flex">
   <div class="col-10">
    <h1 class="bought-items text-light">{{ product.title }}</h1>
    <p class="bought-items description text-light">
      Platform /
      {{ product.categories[0].name }}
    </p>
    <h5 class="bought-items price mt-3 text-light">
      {{ product.price * itemQuantity | currency }}
    </h5>
    <div class="order-actions d-flex align-items-center">
      <button (click)="decrementClick.emit()" class="btn-decrement">
        <i class="fas fa-caret-down dec-icon"></i>
      </button>
      <span class="text-light mr-2 ml-2"> {{ itemQuantity }} </span>
      <button (click)="incrementClick.emit()" class="btn-increment">
        <i class="fas fa-caret-up inc-icon"></i>
      </button>
    </div>
   </div>
   <div class="col-2 text-right">
     <button (click)="deleteProduct.emit()" class="btn-delete-product">
       Delete
     </button>
   </div>
  </div>
</div>