<div class="container">
  <app-product-title [categoryCount]="pcGames.length" title="PC Games"></app-product-title>
  <app-product-card [data]="pcGames"></app-product-card>

  <app-product-title [categoryCount]="psGames.length" title="Playstation"></app-product-title>
  <app-product-card [data]="psGames"></app-product-card>

  <app-product-title [categoryCount]="xboxGames.length" title="Xbox"></app-product-title>
  <app-product-card [data]="xboxGames"></app-product-card>

  <app-product-title [categoryCount]="nintendoGames.length" title="Nintendo"></app-product-title>
  <app-product-card [data]="nintendoGames"></app-product-card>
</div>
