<div class="container">

  
  <!-- ----------- PC GAME LIST -------------- -->
  <app-product-title
    [categoryCount]="pcGames.length"
    icon="fas fa-desktop"
    title="PC Games"
  ></app-product-title>
  <app-product-card
    (next)="nextData($event)"
    (previous)="previousData($event)"
    (selectedProd)="selectedProd($event)"
    [data]="pcGames"
    [page]="pcCounts.pageCount"
  ></app-product-card>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div *ngIf="selectedProduct" class="card">
        <div class="row">
          <div class="image col-6">
            <img [src]="'http://localhost:1337' + selectedProduct.img[0].url" alt="" />
          </div>
          <div class="body col-6">
            <div class="title">
              <h3>{{selectedProduct.name}}</h3>
              <ngb-rating [(rate)]="currentRate" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <pre style="color: aliceblue;">Rate: <b>{{currentRate}}</b></pre>
            </div>
            <div class="description">
              <p> {{selectedProduct.description}} </p>
            </div>
            <div class="price">
              <h1 class="text-light"> {{selectedProduct.price | currency}} </h1>
            </div>
          </div>
        </div>
      </div>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
</div>

  <!-- ----------- PLAYSTATION GAME LIST -------------- -->

  <app-product-title
    [categoryCount]="psGames.length"
    icon="fab fa-playstation"
    title="Playstation"
  ></app-product-title>
  <app-product-card
    (next)="nextData($event)"
    (previous)="previousData($event)"
    (selectedProd)="selectedProd($event)"
    [data]="psGames"
    [page]="psCounts.pageCount"
  ></app-product-card>

  <!-- ----------- XBOX GAME LIST -------------- -->


  <app-product-title
    [categoryCount]="xboxGames.length"
    icon="fab fa-xbox"
    title="Xbox"
  ></app-product-title>
  <app-product-card
    (next)="nextData($event)"
    (previous)="previousData($event)"
    (selectedProd)="selectedProd($event)"
    [data]="xboxGames"
    [page]="xboxCounts.pageCount"
  ></app-product-card>


  <!-- ----------- NINTENDO GAME LIST -------------- -->

  <app-product-title
    [categoryCount]="nintendoGames.length"
    icon="fas fa-gamepad"
    title="Nintendo"
  ></app-product-title>
  <app-product-card
    (next)="nextData($event)"
    (previous)="previousData($event)"
    (selectedProd)="selectedProd($event)"
    [data]="nintendoGames"
    [page]="nintendoCounts.pageCount"
  ></app-product-card>
</div>


  <!-- ----------- END -------------- -->
