<div [ngClass]="positionFix ? 'fixed-top' : ''">
  <nav class="navbar navbar-expand-sm">
    <div class="container">
      <!-- // ------------------ LOGO ---------------- //  -->
      <a class="navbar-brand" routerLink="/"
        ><img src="../../../assets/logo.png" alt=""
      /></a>
      <!-- // ------------------ TOGGLER ICON ---------------- //  -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      MENU
      </button>
      <!-- // ------------------ NAVBAR ITEMS ---------------- //  -->
      <div *ngIf="!user; else authNav" class="navB">
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <div class="d-flex align-items-center">
            <h5><a class="nav-link" routerLink="/login">Login</a></h5>
            <h5><a class="nav-link" routerLink="/register">Register</a></h5>
          </div>
        </div>
      </div>
      <!-- // ------------------ USER GREETING MESSAGE WITH NAV ITEMS  ---------------- //  -->
      <ng-template #authNav>
        <h4 class="greeting-text d-flex align-items-center">
          Welcome {{ user.username | titlecase }} !
          <img class="avatar ml-2" [src]="user.avatarUrl" alt="" />
        </h4>
        <div
          class="collapse navbar-collapse justify-content-end colapse-activeUser"
          id="navbarNav"
        >
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <div class="d-flex align-items-center">
              <h5><a class="nav-link" routerLink="/profile">Profile</a></h5>
              <h5><a class="nav-link" (click)="logout()">LogOut</a></h5>
              <a *ngIf="userCart && userCart.orders" class="cart mt-2 ml-2" routerLink="/checkout">
                <i class="fas fa-shopping-basket basket-icon"></i>
                <span
                  [ngClass]="{
                    'sm-padding': cartLength < 10,
                    'lg-padding': cartLength > 9
                  }"
                  class="cart-length"
                >
                  {{ cartLength }}
                </span>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </nav>
  <!-- // ------------------ RGB LINE ---------------- //  -->
  <div class="seperator-wrapper">
    <div class="seperator gradient"></div>
  </div>
</div>
