$gray-text: #c5c5c5;

.category-header {
  margin: 50px 0;

  .small-line {
    background: $gray-text;
    height: 2px;
  }

  h5 {
    text-align: center;
    color: $gray-text !important;
  }

  .big-line {
    background: white;
    height: 2px;
  }
}

