

.category-header {
  margin: 50px 0;

  .small-line {
    width: 5%;
    background: white;
    height: 2px;
  }

  h5 {
    color: rgb(206, 206, 206) !important;
    margin: 0 15px;
  }

  .big-line {
    width: 80%;
    background: white;
    height: 2px;
  }
}
