<div class="product-list">
  <!-- ---------- PAGINATION BUTTONS AND PAGE NUM -----------  -->
  <div class="buttons-pagination">
    <div class="row justify-content-around">
      <button
        class="button-pag fire"
        (click)="previous.emit(data[0].categories[0].id)"
      >
        <i class="fas fa-long-arrow-alt-left"></i>
      </button>
      <h5 class="text-light">Page {{ page }}</h5>
      <button
        class="button-pag ice"
        (click)="next.emit(data[0].categories[0].id)"
      >
        <i class="fas fa-long-arrow-alt-right"></i>
      </button>
    </div>
  </div>

  <!-- ---------- PRODUCT CARD -----------  -->

  <div class="row">
    <div class="card-case col-3" *ngFor="let product of data">
      <div *ngIf="product.imgName" class="gameName">
        <div class="image">
          <img [src]="'http://localhost:1337' + product.imgName.url" alt="" />
        </div>
        <div class="price-case">
          <h4 class="price">{{ product.price | currency }}</h4>
        </div>
      </div>
      <a
        style="cursor: pointer"
        data-toggle="modal"
        data-target="#ProductdetailModal"
        (click)="selectedProd.emit(product.id)"
      >
        <div class="b-game-card">
          <div class="b-game-card__cover">
            <img [src]="'http://localhost:1337' + product.img[0].url" alt="" />
          </div>
        </div>
      </a>

      <!-- ---------- ACTION BUTTONS -----------  -->
      <div class="buttons-action">
        <div class="row justify-content-around">
          <button
            (click)="selectedProd.emit(product.id)"
            type="button"
            data-toggle="modal"
            data-target="#ProductdetailModal"
            class=" btn-detail"
          >
            <i class="fas fa-info"></i>
          </button>
          <button (click)="addToCart.emit(product)" class=" btn-cart">
            <i class="fas fa-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
