<div class="product-list">
  <!-- ---------- PAGINATION BUTTONS AND PAGE NUM -----------  -->
  <div class="buttons-pagination">
    <div class="row justify-content-around">
      <button class="button-pag fire" (click)="previous.emit(data[0].categories[0].id)">
        <i class="fas fa-long-arrow-alt-left"></i>
      </button>
      <h5 class="text-light page-number">Page {{ page }}</h5>
      <button class="button-pag ice" (click)="next.emit(data[0].categories[0].id)">
        <i class="fas fa-long-arrow-alt-right"></i>
      </button>
    </div>
  </div>

  <!-- ---------- PRODUCT CARD -----------  -->

  <div class="row">
    <div class="card-case col-md-3 col-6" *ngFor="let product of data">
      <div aTilt>
        <div *ngIf="product.imgName" class="gameName">
          <div class="image">
            <img [src]="product.imgName.url" alt="" />
          </div>
          <div class="price-case">
            <h4 class="price m-0">{{ product.price | currency }}</h4>
          </div>
        </div>
        <a style="cursor: pointer" (click)="selectedProd.emit(product.id); openModal(product)">
          <div class="b-game-card">
            <div class="b-game-card__cover">
              <img *ngIf="product.img.length > 0" [src]="product.img[0].url" alt="" />
            </div>
          </div>
        </a>
      </div>


      <!-- ---------- ACTION BUTTONS -----------  -->
      <div class="buttons-action">
        <div class="row justify-content-around">
          <button (click)="openModal(product)" type="button" class="btn-detail">
            <i class="fas fa-info"></i>
          </button>
          <button [disabled]="!user || productAdding"
            [ngClass]="{'disable-blue-btn': (!user || productAdding) ? true : false}" (click)="addToCart.emit(product)"
            class="btn-cart">
            <span *ngIf="!productAdding"><i class="fas fa-cart-plus"></i></span>
            <div *ngIf="productAdding" class="spinner-case">
              <div class="spinner-grow color-orange" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </button>
        </div>
      </div>


    </div>
  </div>
</div>