<div class="modal-content"  *ngIf="address.id; else eddAddressModal">
  <div class="modal-body">
    <div class="logo-case d-flex justify-content-center">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </div>
    <h4 class="text-center bg-title">Edit Address Form</h4>
    <form (submit)="editData()" autocomplete="off">
      <div class="nameInput">
        <label for="addressName">Address Name</label>
        <input
          class="edit-input"
          type="text"
          id="addressName"
          name="addressName"
          [(ngModel)]="address.addressName"
        />
      </div>

      <div class="lastNameInput">
        <label for="suite">Suite</label>
        <input
          class="edit-input"
          type="text"
          id="suite"
          name="suite"
          [(ngModel)]="address.suite"
        />
      </div>

      <div class="emailInput">
        <label for="street">StreetName</label>
        <input
          class="edit-input"
          type="text"
          id="street"
          name="street"
          [(ngModel)]="address.streetName"
        />
      </div>

      <div class="phoneInput">
        <label for="city">City</label>
        <input
          class="edit-input"
          type="text"
          id="city"
          name="city"
          [(ngModel)]="address.city"
        />
      </div>

      <div class="phoneInput">
        <label for="country">Counrty</label>
        <input
          class="edit-input"
          type="text"
          id="country"
          name="country"
          [(ngModel)]="address.country"
        />
      </div>
      <div class="footer">
        <button type="submit" class="edit-btn">Edit</button>
      </div>
    </form>
  </div>
</div>








<ng-template #eddAddressModal>
  
<div class="modal-content">
  <div class="modal-body">
    <div class="logo-case d-flex justify-content-center">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </div>
    <h4 class="text-center bg-title">Add Address Form</h4>
    <form (submit)="addAddress()" autocomplete="off">
      <div class="nameInput">
        <label for="addressName">Address Name</label>
        <input
          class="edit-input"
          type="text"
          id="addressName"
          name="addressName"
          [(ngModel)]="address.addressName"
        />
      </div>

      <div class="lastNameInput">
        <label for="suite">Suite</label>
        <input
          class="edit-input"
          type="text"
          id="suite"
          name="suite"
          [(ngModel)]="address.suite"
        />
      </div>

      <div class="emailInput">
        <label for="street">StreetName</label>
        <input
          class="edit-input"
          type="text"
          id="street"
          name="street"
          [(ngModel)]="address.streetName"
        />
      </div>

      <div class="phoneInput">
        <label for="city">City</label>
        <input
          class="edit-input"
          type="text"
          id="city"
          name="city"
          [(ngModel)]="address.city"
        />
      </div>

      <div class="phoneInput">
        <label for="country">Counrty</label>
        <input
          class="edit-input"
          type="text"
          id="country"
          name="country"
          [(ngModel)]="address.country"
        />
      </div>

      <div class="footer">
        <button type="submit" class="edit-btn">Add</button>
      </div>
    </form>
  </div>
</div>
</ng-template>
