<div class="overlay">
  <div class="close-btn">
    <div class="row justify-content-end">
      <button class="btn btn-outline-light" routerLink="/">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="logo">
    <img src="../../../assets/logo.png" alt="" />
  </div>
  <div class="login-form">
    <form (submit)="register()" autocomplete="off">
      <div class="username form-item">
        <label for="username"></label>
        <input
          [(ngModel)]="regForm.username"
          name="username"
          type="text"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="email form-item">
        <label for="email"></label>
        <input
          [(ngModel)]="regForm.email"
          name="email"
          type="text"
          id="email"
          placeholder="Email"
        />
      </div>
      <div class="password form-item">
        <label for="password"></label>
        <input
          [(ngModel)]="regForm.password"
          name="password"
          type="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="confirmPass form-item">
        <label for="confirmPass"></label>
        <input
          [(ngModel)]="regForm.confirmPassword"
          name="confirmPass"
          type="password"
          id="confirmPass"
          placeholder="Confirm Password"
        />
      </div>
      <div class="login-button">
        <button type="submit" class="btn btn-block">
          {{ isLoading ? "Wait Please" : "Join Us" }}
        </button>
      </div>
    </form>
  </div>
</div>
