<!-- // ------------------ EDIT PROFILE FORM ---------------- //  -->

<div class="modal-content">
  <div class="modal-body">
    <div class="close-modal-btn">
      <button (click)="closeModal()" type="button" class="edit-btn"><i class="fas fa-times"></i></button>
    </div>
    <div class="logo-case d-flex justify-content-center">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </div>
    <h4 class="text-center bg-title">Edit Profile Form</h4>
    <div *ngIf="errorActive" class="server-errors">
      <span> {{ServerErrors}} !</span>
    </div>
    <div *ngIf="isLoading" class="spinner-case">
      <div class="spinner-grow color-orange" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <form *ngIf="!isLoading" [formGroup]="editForm" (submit)="editData()" autocomplete="off">
      <div class="nameInput">
        <label for="name">User Name</label>
        <input class="edit-input" type="text" id="name" name="name" formControlName="username" />
        <div class="errors" *ngIf="(usernameErrors.dirty && usernameErrors.errors) || (usernameErrors.errors && invalidFormErrors)">
          <span *ngIf="usernameErrors.errors.required">This Field Is Required !</span>
          <span *ngIf="usernameErrors.errors.minlength">Please enter minimum
            {{
              usernameErrors.errors.minlength.requiredLength
            }}
            character.</span>
        </div>
      </div>

      <div class="name">
        <label for="name">Name</label>
        <input class="edit-input" type="text" id="name" name="name" formControlName="name" />
        <div class="errors" *ngIf="(nameErrors.dirty && nameErrors.errors) || (nameErrors.errors && invalidFormErrors) ">
          <span *ngIf="nameErrors.errors.required">This Field Is Required !</span>
          <span *ngIf="nameErrors.errors.minlength">Please enter minimum
            {{
              nameErrors.errors.minlength.requiredLength
            }}
            character.</span>
        </div>
      </div>

      <div class="lastNameInput">
        <label for="lastname">Last Name</label>
        <input class="edit-input" type="text" id="lastname" name="lastname" formControlName="lastName" />
        <div class="errors" *ngIf="(lastNameErrors.dirty && lastNameErrors.errors) || (lastNameErrors.errors && invalidFormErrors)">
          <span *ngIf="lastNameErrors.errors.required">This Field Is Required !</span>
          <span *ngIf="lastNameErrors.errors.minlength">Please enter minimum
            {{
              lastNameErrors.errors.minlength.requiredLength
            }}
            character.</span>
        </div>
      </div>

      <div class="emailInput">
        <label for="email">Email</label>
        <input class="edit-input" type="text" id="email" name="email" formControlName="email" />
        <div class="errors" *ngIf="(emailErrors.dirty && emailErrors.errors) || (emailErrors.errors && invalidFormErrors)">
          <span *ngIf="emailErrors.errors.required">This Field Is Required !</span>
          <span *ngIf="emailErrors.errors.email">Please enter valid email.</span>
        </div>
      </div>

      <div class="phoneInput">
        <label for="phone">Phone</label>
        <input class="edit-input" type="text" id="phone" name="phone" formControlName="phone" />
        <div class="errors" *ngIf="(phoneErrors.dirty && phoneErrors.errors) || (phoneErrors.errors && invalidFormErrors)">
          <span *ngIf="phoneErrors.errors.required">This Field Is Required !</span>
        </div>
      </div>

      <div class="footer">
        <button type="submit" class="edit-btn btn-orange" [disabled]="isLoading">
          {{!isLoading  ? "Edit" : "Loading..."}}
        </button>
      </div>
    </form>
  </div>
</div>
