$gray-text: #c5c5c5;
$color-orange: #d2721e;
$color-blue: #4589ff;

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-text;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.checkout-page {
  margin: 70px 0;

  .subtitle {
    color: darken($gray-text, $amount: 20%);
  }
}

.orders {
  .order-list {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 7px black;
    padding: 10px;
    background-color: transparent;
  }

  .toEmpty-btn {
    background: #d2721e96;
    border: 1px solid $color-orange;
    border-radius: 0px 15px 0px 15px;
    color: $gray-text;
    font-weight: 600;

    &:hover {
      background-color: #000000a1;
    }
  }
}

.order-items {
  max-height: 500px;
  overflow: auto;
}

.address-card {
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  // padding: 5px;
  box-shadow: 0px 4px 5px 5px black;
  margin: 15px 0;
  color: $gray-text;

  .addressName {
    padding: 5px;
    background-color: rgb(31 31 31 / 70%);
    h5 {
      max-width: 275px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .address {
    padding: 5px;
  }

  .address-select-button {
    margin: 0 -1px 10px 0px;
    background: transparent;
    border: 1px solid $gray-text;
    border-radius: 50%;
    padding: 9px;
    outline: none;

    &:hover {
      background-color: #000000d5;
    }
  }
  .button-active {
    background-color: #d2721e96 !important;
    animation: jello;
    animation-duration: 800ms;
  }
}

.total-price {
  text-align: center;
}

.payment-title {
  padding-top: 100px;
}

.payment-icon {
  margin-bottom: 3px;
  font-size: 20px;
}

.receipt {
  background: #0000005c;
  border-radius: 4px;
  padding: 5%;
  display: block;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 15px 0px black;
}

.receipt-body {
  min-height: 420px;
}

.header {
  color: $gray-text;
}

.cost {
  color: $color-blue;
}
.seller {
  color: $color-blue;
}
.description {
  font-size: 13px;
}
.price {
  font-size: 16px;
}
.comprobe {
  text-align: center;
}
