<div class="container">
  <div class="checkout-page">
    <div class="page-title bg-title">
      <h1>Check-Out Page</h1>
    </div>
    <div class="receipt">
      <div class="receipt-body">
        <div class="row">
          <div class="orders col-lg-5">
            <h4 class="header text-light mb-4">
              Order List
              <span *ngIf="cartProducts; else zeroQuantity"
                >({{ totalQuantity }})</span
              >
              <ng-template #zeroQuantity>(0)</ng-template>
            </h4>
            <p class="subtitle">Your Orders</p>
            <div class="order-list" *ngIf="userCart && userCart.orders.length">
              <div class="order-items">
                <app-order-item
                  *ngFor="let product of cartProducts"
                  [product]="product"
                  (decrementClick)="removeFromCart(product)"
                  (incrementClick)="addToCart(product)"
                >
                </app-order-item>
              </div>
            </div>
            <button *ngIf="userCart && userCart.orders.length" (click)="resetCart(userCart)" class="toEmpty-btn btn btn-block mt-4">Empty The Cart</button>
          </div>
          <div class="address-list col-lg-4">
            <h4 class="header text-light mb-4">
              Addresses <i class="fas fa-map-marked-alt"></i>
            </h4>
            <p class="subtitle">Select Delivery Address</p>
            <div class="address-card" *ngFor="let address of userAddresses">
              <input hidden (click)="radioButtonToActive(address.id)" type="radio" #radiobutton>
              <div class="input">
                <div class="addressName d-flex align-items-center justify-content-between">
                  <h5>{{ address.addressName }}</h5>
                  <button (click)="radiobutton.click()" [ngClass]="{'button-active': radioButtonActive === address.id}" class="address-select-button" ></button>
                </div>
              </div>
              <div class="address">
                <p>
                  {{ address.suite }}
                  {{ address.streetName }}
                  {{ address.city }}
                  {{ address.country }}
                </p>
              </div>
            </div>
          </div>
          <div class="total-price col-lg-3">
            <h4 class="header text-light mb-4">
              Bill <i class="fas fa-file-invoice-dollar"></i>
            </h4>
            <p class="header">Total Price <i class="fas fa-coins"></i> :</p>
            <h2 *ngIf="cartProducts; else zeroTotalPrice" class="cost">
              {{ getTotal | currency }}
            </h2>
            <ng-template #zeroTotalPrice>
              <h2 class="cost">{{ 0 | currency }}</h2>
            </ng-template>
  
            <br />
            <p class="header">Name <i class="fas fa-signature"></i> :</p>
            <h2 *ngIf="user" class="seller">{{ user.username | titlecase }}</h2>
          </div>
        </div>
      </div>
  
      <div class="payment-title bg-title">
        <h1 class="title">
          Payment <span><i class="far fa-credit-card payment-icon"></i></span>
        </h1>
      </div>
      <app-payment></app-payment>
    </div>
  </div>
</div>
