<div class="container">
  <div class="checkout-page">
    <div class="page-title bg-title">
      <h1>Check-Out Page</h1>
    </div>
    <div class="receipt">
      <div class="receipt-body">
        <div class="row">
          <div class="orders col-lg-5">
            <h4 class="header text-light mb-4">
              Order List
              <span *ngIf="cartProducts; else zeroQuantity"
                >({{ totalQuantity }})</span
              >
              <ng-template #zeroQuantity>(0)</ng-template>
            </h4>
            <p>Your Orders</p>
            <div class="order-list" *ngIf="userCart && userCart.orders.length">
              <div class="order-items">
                <app-order-item
                  *ngFor="let product of cartProducts"
                  [product]="product"
                  (decrementClick)="removeFromCart(product)"
                  (incrementClick)="addToCart(product)"
                >
                </app-order-item>
              </div>
            </div>
          </div>
          <div class="address-list col-lg-4">
            <h4 class="header text-light mb-4">
              Addresses <i class="fas fa-map-marked-alt"></i>
            </h4>
            <p>Select Delivery Address</p>
            <div class="address-card" *ngFor="let address of userAddresses">
              <input hidden (click)="radioButtonToActive(address.id)" type="radio" #radiobutton [(ngModel)]="selectedAddress">
              <div class="input">
                <div class="addressName d-flex align-items-center justify-content-between">
                  <h5>{{ address.addressName }}</h5>
                  <button (click)="radiobutton.click()" [ngClass]="{'button-active': radioButtonActive === address.id}" class="address-select-button" ></button>
                </div>
              </div>
              <div class="address">
                <p>
                  {{ address.suite }}
                  {{ address.streetName }}
                  {{ address.city }}
                  {{ address.country }}
                </p>
              </div>
            </div>
          </div>
          <div class="total-price col-lg-3">
            <h4 class="header text-light mb-4">
              Bill <i class="fas fa-file-invoice-dollar"></i>
            </h4>
            <p class="header">Total Price <i class="fas fa-coins"></i> :</p>
            <h2 *ngIf="cartProducts; else zeroTotalPrice" class="cost">
              {{ getTotal | currency }}
            </h2>
            <ng-template #zeroTotalPrice>
              <h2 class="cost">{{ 0 | currency }}</h2>
            </ng-template>
  
            <br />
            <p class="header">Name <i class="fas fa-signature"></i> :</p>
            <h2 *ngIf="user" class="seller">{{ user.username | titlecase }}</h2>
          </div>
        </div>
      </div>
  
      <div class="payment-title bg-title">
        <h1 class="title">
          Payment <span><i class="far fa-credit-card payment-icon"></i></span>
        </h1>
      </div>
  
      <div class="payment row mt-5">
        <div class="payment-form col-lg-5">
          <form autocomplete="off">
            <div class="form-cardName">
              <label>Name:</label>
              <input
                name="cardName"
                id="name"
                type="text"
                class="input cardnumber"
                placeholder="Enter Card Name"
                [(ngModel)]="cardName"
              />
            </div>
            <div class="form-cardNumber">
              <label>Card number:</label>
              <input
                name="cardNumber"
                id="cardnumber"
                type="text"
                class="input cardnumber"
                placeholder="Enter Random Numbers"
                [(ngModel)]="cardNumber"
              />
            </div>
            <div class="date-cvv">
              <div class="row">
                <div class="expiration col-6">
                  <label>ExpDate:</label>
                  <input
                    name="expiration"
                    id="expdate"
                    type="text"
                    class="expiration"
                    placeholder=" (mm/yy)"
                    [(ngModel)]="expDate"
                  />
                </div>
                <div class="cvc col-6">
                  <label>Security Code:</label>
                  <input
                    name="cvc"
                    id="cvc"
                    type="text"
                    class="security-code"
                    placeholder="CVC"
                    [(ngModel)]="cvc"
                    (focus)="showCVC()"
                    (blur)="hideCVC()"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="payment-card col-lg-7">
          <div *ngIf="creditCartFront" class="card">
            <button class="proceed">
              <svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"
                ></path>
              </svg>
            </button>
            <img
              src="https://seeklogo.com/images/V/VISA-logo-62D5B26FE1-seeklogo.com.png"
              class="logo-card"
            />
            <form autocomplete="off">
              <label>Card number:</label>
              <input
                readonly
                id="user"
                type="text"
                class="cardnumber"
                [placeholder]="cardNumber"
              />
              <div class="bottom d-flex">
                <div class="cardName col-6 p-0">
                  <label>Name:</label>
                  <input
                    readonly
                    class="name"
                    [placeholder]="cardName | uppercase"
                  />
                </div>
                <div class="expDate col-6">
                  <label class="toleft">expDate:</label>
                  <input
                    readonly
                    class="toleft expdate"
                    [placeholder]="expDate"
                  />
                </div>
              </div>
              <!-- <input readonly class="toleft ccv" [placeholder]="cvc" /> -->
            </form>
          </div>
          <div *ngIf="!creditCartFront" class="card-back-case">
            <button class="proceed">
              <svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"
                ></path>
              </svg>
            </button>
            <div class="card card-back p-0">
              <div class="top"></div>
              <div class="body">
                <div class="form">
                  <form
                    autocomplete="off"
                    class="d-flex justify-content-center align-items-baseline"
                  >
                    <label>CVC:</label>
                    <input
                      readonly
                      id="user"
                      type="number"
                      class="cvc"
                      [placeholder]="cvc"
                    />
                    <!-- <input readonly class="toleft ccv" [placeholder]="cvc" /> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
