<div class="modal-content">
  <div class="modal-body">
    <div class="close-btn">
      <div class="row justify-content-end">
        <button class="btn btn-outline-light" (click)="close()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="logo-case d-flex justify-content-center">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </div>
    <h4 class="text-center bg-title">Login</h4>
    <div *ngIf="errorActive" class="server-errors">
      <span> {{ serverErrors }} !</span>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm" (submit)="login()" autocomplete="off">
        <div class="username form-item">
          <label for="email"></label>
          <input class="email-input" formControlName="email" name="email" type="text" id="email"
            style="font-family: sans-serif, fontawesome" placeholder="&#xf0e0; Email" autocomplete="off" />
          <div class="errors"
            *ngIf="(emailErrors.dirty && emailErrors.errors) || (emailErrors.errors && invalidFormErrors)">
            <span *ngIf="emailErrors.errors.required">
              This Field Is Required !
            </span>
            <span *ngIf="emailErrors.errors.minlength">Please enter minimum
              {{
              emailErrors.errors.minlength.requiredLength
              }}
              character.</span>
          </div>
        </div>
        <div class="password form-item">
          <label for="password"></label>
          <input formControlName="password" name="password" type="password" id="password"
            style="font-family: sans-serif, fontawesome" placeholder="&#xf084; Password" />
          <div class="errors"
            *ngIf="(passwordErrors.dirty && passwordErrors.errors) || (passwordErrors.errors && invalidFormErrors)">
            <span *ngIf="passwordErrors.errors.required">
              This Field Is Required !
            </span>
            <span *ngIf="passwordErrors.errors.minlength">Please enter minimum
              {{
              passwordErrors.errors.minlength.requiredLength
              }}
              character.</span>
          </div>
        </div>
        <div class="login-button">
          <button type="submit" class="btn btn-block">
            {{ isLoading ? "Wait Please" : "Press Start" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>