<!-- // ------------------ EDIT ADDRESS FORM ---------------- //  -->
<div class="modal-content" *ngIf="addressForm.get('id').value; else addAddressModal">
  <div class="modal-body">
    <div class="close-modal-btn">
      <button (click)="closeModal()" type="button" class="edit-btn"><i class="fas fa-times"></i></button>
    </div>
    <div class="logo-case d-flex justify-content-center">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </div>
    <h4 class="text-center bg-title">Edit Address Form</h4>
    <mat-progress-bar *ngIf="loading" class="mb-2" mode="indeterminate" color="test"></mat-progress-bar>
    <form *ngIf="!loading" [formGroup]="addressForm" (submit)="editData()" autocomplete="off">
      <div class="nameInput">
        <label for="addressName">Address Name</label>
        <input class="edit-input" type="text" id="addressName" name="addressName" formControlName="addressName" />
        <div class="errors" *ngIf="nameErrors.dirty && nameErrors.errors">
          <span *ngIf="nameErrors.errors.required">
            This field is required !
          </span>
        </div>
      </div>

      <div class="suiteInput">
        <label for="suite">Suite</label>
        <input class="edit-input" type="text" id="suite" name="suite" formControlName="suite" />
        <div class="errors" *ngIf="suiteErrors.dirty && suiteErrors.errors">
          <span *ngIf="suiteErrors.errors.required">
            This field is required !
          </span>
        </div>
      </div>

      <div class="streetInput">
        <label for="street">StreetName</label>
        <input class="edit-input" type="text" id="street" name="street" formControlName="streetName" />
        <div class="errors" *ngIf="streetNameErrors.dirty && streetNameErrors.errors">
          <span *ngIf="streetNameErrors.errors.required">
            This field is required !
          </span>
        </div>
      </div>

      <div class="countryInput">
        <label for="country">Counrty</label>
        <input class="edit-input" type="text" id="country" name="country" formControlName="country"
          [ngbTypeahead]="searchCountry" #instance="ngbTypeahead" autocomplete="no" />
        <div class="errors" *ngIf="countryErrors.dirty && countryErrors.errors">
          <span *ngIf="countryErrors.errors.required">
            This field is required !
          </span>
        </div>
      </div>

      <div class="cityInput">
        <label for="city">City</label>
        <input class="edit-input" type="text" id="city" name="city" formControlName="city" [ngbTypeahead]="searchCity"
          #instance="ngbTypeahead" autocomplete="no" (focus)="getCities()" />
        <div class="errors" *ngIf="cityErrors.dirty && cityErrors.errors">
          <span *ngIf="cityErrors.errors.required">
            This field is required !
          </span>
        </div>
      </div>
      <div class="footer">
        <button type="submit" class="edit-btn btn-orange">Edit</button>
      </div>
    </form>
  </div>
</div>

<!-- // ------------------ ADD ADDRESS FORM ---------------- //  -->
<ng-template #addAddressModal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="close-modal-btn">
        <button (click)="closeModal()" type="button" class="edit-btn"><i class="fas fa-times"></i></button>
      </div>
      <div class="logo-case d-flex justify-content-center">
        <div class="logo">
          <img src="../../../assets/logo.png" alt="" />
        </div>
      </div>
      <h4 class="text-center bg-title">Add Address Form</h4>
      <mat-progress-bar *ngIf="loading" class="mb-2" mode="indeterminate" color="test"></mat-progress-bar>
      <form *ngIf="!loading" [formGroup]="addressForm" (submit)="addAddress()" autocomplete="off">
        <div class="nameInput">
          <label for="addressName">Address Name</label>
          <input class="edit-input" type="text" id="addressName" name="addressName" formControlName="addressName" />
          <div class="errors" *ngIf="nameErrors.dirty && nameErrors.errors">
            <span *ngIf="nameErrors.errors.required">
              This field is required !
            </span>
          </div>
        </div>

        <div class="suiteInput">
          <label for="suite">Suite</label>
          <input class="edit-input" type="text" id="suite" name="suite" formControlName="suite" />
          <div class="errors" *ngIf="suiteErrors.dirty && suiteErrors.errors">
            <span *ngIf="suiteErrors.errors.required">
              This field is required !
            </span>
          </div>
        </div>

        <div class="streetInput">
          <label for="street">StreetName</label>
          <input class="edit-input" type="text" id="street" name="street" formControlName="streetName" />
          <div class="errors" *ngIf="streetNameErrors.dirty && streetNameErrors.errors">
            <span *ngIf="streetNameErrors.errors.required">
              This field is required !
            </span>
          </div>
        </div>
        <div class="countryInput">
          <label for="typeahead-basic">Counrty</label>
          <input class="edit-input" type="text" name="country" formControlName="country" id="typeahead-basic"
            [ngbTypeahead]="searchCountry" #instance="ngbTypeahead" autocomplete="no" />
          <div class="errors" *ngIf="countryErrors.dirty && countryErrors.errors">
            <span *ngIf="countryErrors.errors.required">
              This field is required !
            </span>
          </div>
        </div>

        <div class="cityInput">
          <label for="city">City</label>
          <input class="edit-input" type="text" id="city" name="city" formControlName="city" [ngbTypeahead]="searchCity"
            #instance="ngbTypeahead" autocomplete="no" (focus)="getCities()" />
          <div class="errors" *ngIf="cityErrors.dirty && cityErrors.errors">
            <span *ngIf="cityErrors.errors.required">
              This field is required !
            </span>
          </div>
        </div>

        <div class="footer">
          <button type="submit" class="edit-btn btn-orange">Add</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
