$gray-text: #c5c5c5;
$color-orange: #d2721e;
$color-blue: #4589ff;

#editAddressModal {
  background-color: rgba(0, 0, 0, 0.90);
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: $color-orange;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: rgb(58, 58, 58);
}


.modal-content {
  background: transparent;
}

.modal-body {

  .logo {
    max-width: 150px;
    max-height: 150px;

    img {
      width: 100%;
    }
  }

  form {
    width: 100%;

    label {
      color: $gray-text;
    }

    .edit-input {
      width: 100%;
      width: 100%;
      padding: 15px 15px;
      color: $color-orange;
      background: rgba(255 255 255 / 5%);
      border: none;
      border-radius: 20px;
      outline: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.644);
      }
    }

    .edit-btn {
      margin: 15px 0;
      float: right;
    }
  }

  .spinner-case {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-grow {
      width: 5rem !important;
      height: 5rem !important;
    }

  }

  .color-orange {
    color: #d2721e2c !important;
  }

  .color-blue {
    color: #4589ff3d !important;
  }

}
