<div mat-dialog-content>

  <button class="btn btn-outline-light btn-close" (click)="closeModal()">
    <i class="fas fa-times"></i>
  </button>

  <div class="modal-body">
    <!-- Logo -->
    <div class="logo-case d-flex justify-content-center">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
      </div>
    </div>

    <!-- Header -->
    <h4 class="text-center bg-title">Edit Address Form</h4>

    <!-- Spinner -->
    <div *ngIf="loading" class="spinner-case">
      <div class="spinner-grow color-blue" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <form *ngIf="!loading" [formGroup]="addressForm" (submit)="saveAddress()" autocomplete="off">

      <!-- Name -->
      <div class="nameInput">
        <label for="addressName">Address Name</label>
        <input class="edit-input" type="text" id="addressName" name="addressName" formControlName="addressName" />
        <div class="errors" *ngIf="nameErrors.dirty && nameErrors.errors">
          <small *ngIf="nameErrors.errors.required">
            This field is required !
          </small>
        </div>
      </div>

      <div class="d-flex align-items-center mt-2 flex-case">

        <!-- Suite -->
        <div class="suiteInput col-lg-6 p-0 pr-2">
          <label for="suite">Suite</label>
          <input class="edit-input" type="text" id="suite" name="suite" formControlName="suite" />
          <div class="errors" *ngIf="suiteErrors.dirty && suiteErrors.errors">
            <small *ngIf="suiteErrors.errors.required">
              This field is required !
            </small>
          </div>
        </div>

        <!-- Street -->
        <div class="streetInput p-0 col-lg-6">
          <label for="street">StreetName</label>
          <input class="edit-input" type="text" id="street" name="street" formControlName="streetName" />
          <div class="errors" *ngIf="streetNameErrors.dirty && streetNameErrors.errors">
            <small *ngIf="streetNameErrors.errors.required">
              This field is required !
            </small>
          </div>
        </div>

      </div>

      <!-- Country -->
      <div class="countryInput mt-2">
        <label for="country">Counrty</label>
        <input class="edit-input" type="text" id="country" name="country" formControlName="country"
          [ngbTypeahead]="searchCountry" #instance="ngbTypeahead" autocomplete="no" />
        <div class="errors" *ngIf="countryErrors.dirty && countryErrors.errors">
          <small *ngIf="countryErrors.errors.required">
            This field is required !
          </small>
        </div>
      </div>

      <!-- City -->
      <div class="cityInput mt-2">
        <label for="city">City</label>
        <input class="edit-input" type="text" id="city" name="city" formControlName="city" [ngbTypeahead]="searchCity"
          #instance="ngbTypeahead" autocomplete="no" (focus)="getCities()" />
        <div class="errors" *ngIf="cityErrors.dirty && cityErrors.errors">
          <small *ngIf="cityErrors.errors.required">
            This field is required !
          </small>
        </div>
      </div>

      <!-- Save -->
      <div class="footer">
        <button type="submit" class="edit-btn btn-orange">Save</button>
      </div>

    </form>
  </div>

</div>