<div class="container">
  <h1 class="text-center bg-title">Profile</h1>
  <div class="profile-page">
    <div *ngIf="user" class="top">
      <div class="row">
        <div class="image col-lg-4 d-flex justify-content-center">
          <div class="img">
            <img [src]="user.avatarUrl" alt="" />
          </div>
        </div>
        <div class="name col-lg-8 row">
          <h2 class="header-text text-center ml-5">{{ user.username | titlecase }}</h2>
          <!-- <h2 class="header-text text-center col-6">{{ user.lastName |titlecase}}</h2> -->
        </div>
      </div>
    </div>
    <div class="body" style="min-height: 600px;">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a class="tab-link" ngbNavLink>User Info</a>
          <ng-template ngbNavContent>
            <app-user-info
            [user]="user"
            [userAddresses]="userAddresses"
            (openEditProfileModal)="openEditProfileModal()"
            (openAddAddressModal)="openAddAddressModal()"
            (openEditAddressModal)="openEditAddressModal($event)"
            (deleteAddress)="deleteAddress($event)"
            >
            </app-user-info>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a class="tab-link" ngbNavLink>Previous Orders</a>
          <ng-template ngbNavContent>
            <div class="d-flex justify-content-center">
              <img src="https://media0.giphy.com/media/ZeFG00TVXs54Pw4c8e/giphy.gif" alt="this slowpoke moves"  width=400/>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a class="tab-link" ngbNavLink>My Coupons</a>
          <ng-template ngbNavContent>
            <div class="d-flex justify-content-center">
              <img src="https://media0.giphy.com/media/ZeFG00TVXs54Pw4c8e/giphy.gif" alt="this slowpoke moves"  width=400/>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
