$gray-text: #c5c5c5;
$color-orange: #d2721e;
$color-blue: #4589ff;

.profile-page {
  background: #0000005c;
  padding: 30px;
  box-shadow: 0px 0px 5px 5px black;
  border-radius: 10px;
  margin: 100px 0;

  .top {
    h1 {
      color: $gray-text;
    }
    .img {
      position: relative;
      top: -90px;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid gray;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .user-info {
    padding: 30px;

    .user-card {
      padding: 10px;
      box-shadow: 0px 0px 5px 5px black;
      border-radius: 5px;
      color: $gray-text;
      height: 355px;

      .card-content {
        margin-top: 35px;

        .user-card-item {
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: 4fr 7fr;
          background-color: #191919;
          border-radius: 0px 15px 0px 15px;
          padding: 3px 5px 3px 15px;
          p {
            font-size: 19px;
            margin: 0 0 0 15px;
          }

          h3 {
            margin: 0;
            border-right: 1px solid $color-orange;
          }
        }
      }

      .actions {
        display: flex;
        justify-content: flex-end;

        .edit-user-button {
          padding: 5px 10px;
          background-color: $color-orange;
          border: none;
          color: white;
          border-radius: 0px 10px 0px 10px;
          outline: none;
        }
      }
    }
  }

  .addresses {
    padding: 30px;
    color: $gray-text;
    .addresses-card {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 5px black;
      height: 355px;

      .add-address {
        transform: translate(0px, -36px);

        .add-address-btn {
          background: transparent;
          background-color: $color-blue;
          color: white;
          border: none;
          border-radius: 15px 0px 15px 0px;
          padding: 4px 15px;
        }
      }

      .address-list {
        padding: 15px;
        .address-card {
          padding: 6px 10px 1px 10px;
          margin-bottom: 10px;
          background: rgba(31, 31, 31, 0.7);
          border-radius: 0px 15px 0 15px;
          h5{
            max-width: 380px;
            max-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p {
            font-size: 13px;
            max-width: 380px;
            max-height: 35px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .action-button {
            background: transparent;
            border: none;
            outline: none;
          }
          .edit-address {
            color: $gray-text;
            &:hover {
              color: lighten($color: #28a745, $amount: 15%);
            }
          }
          .delete {
            color: $gray-text;
            &:hover {
              color: lighten($color: #dc3545, $amount: 10%);
            }
          }
        }
      }
    }
  }
}
