$gray-text: #c5c5c5;
$color-orange: #d2721e;
$color-blue: #4589ff;

.profile-page {
  background: #0000005c;
  padding: 30px;
  box-shadow: 0px 0px 5px 5px black;
  border-radius: 10px;
  margin: 20px 0;

  @media (max-width: 991px) {
    padding: 0px;
  }

  .name {
    word-break: break-all;
  }

  .top {
    h1 {
      color: $gray-text;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .img {
      position: relative;
      top: -130px;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid gray;

      @media (max-width: 991px) {
        top: -50px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .name{
      display: block;
    }

    .header-text {
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.342);
      color: transparent;
      font-size: 75px;
      line-height: 87px;
      text-align: right !important;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  .tab-link{
    color: #d2721e;
  }

  .active{
    background-color: #8686863a;
  }

  .nav-link:hover{
    border-color: $color-blue $color-blue #fff0;
  }

  .nav-link.active{
    border-color: $color-blue $color-blue #fff0;
  }

  .nav-tabs{
    border-bottom: 1px solid #dee2e682;
  }

}

