<div class="container">
  <h1 class="text-center bg-title">Profile</h1>
  <div class="profile-page">
    <div *ngIf="user" class="top">
      <div class="row">
        <div class="name col-4">
          <h1 class="text-center">{{ user.username | titlecase }}</h1>
        </div>
        <div class="image col-4 d-flex justify-content-center">
          <div class="img">
            <img [src]="user.avatarUrl" alt="" />
          </div>
        </div>
        <div class="surname col-4">
          <h1 class="text-center">{{ user.lastName }}</h1>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="user-info col-6">
            <div class="user-card">
              <h3 class="card-title text-center">User Cart</h3>
              <div *ngIf="user" class="card-content pl-1">
                <div class="">
                  <div class=" user-card-item name">
                    <h3 class="pr-1">Name</h3>
                    
                    <p>{{ user.username | titlecase }}</p>
                  </div>
                  <div
                    class=" user-card-item surname"
                  >
                    <h3 class="pr-1">Last Name</h3>
                    
                    <p>{{ user.lastName }}</p>
                  </div>
                </div>
                <div class=" user-card-item email">
                  <h3 class="pr-1">Email</h3>
                  
                  <p>{{ user.email }}</p>
                </div>
                <div class="user-card-item phone">
                  <h3 class="pr-1">Phone</h3>
                  
                  <p>{{ user.phone }}</p>
                </div>
                <div class="actions">
                  <button
                  (click)="openModal()"
                  type="button"
                  class="edit-user-button ml-5"
                  
                >
                  Edit Profile
                </button>
                </div>
                <!-- <app-edit-profile-modal [user]="user"></app-edit-profile-modal> -->
              </div>
            </div>
          </div>
          <div class="addresses col-6">
            <div class="addresses-card">
              <h3 class="text-center">Addresses</h3>
              <div class="address-list" *ngIf="userAddresses">
                <div
                  class="address-card row"
                  *ngFor="let address of userAddresses"
                >
                  <div class="content col-11">
                    <h5>{{ address.addressName }}</h5>
                    <p>
                      {{ address.suite }} {{ address.streetName }}
                      {{ address.city }} {{ address.country }}
                    </p>
                  </div>
                  <div class="actions col-1 p-0">
                    <button
                      (click)="selectForEditAddress(address.id)"
                      type="button"
                      class="action-button edit-address mb-2"
                      data-toggle="modal"
                      data-target="#editAddressModal"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="action-button delete">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>

                  <app-edit-address-modal
                    *ngIf="selectedAddress && selectedAddress.id == address.id"
                    [address]="selectedAddress"
                  ></app-edit-address-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
